### **TLDR** 

 - **Dashboard**: 
  - Google Data Studio ([link](https://datastudio.google.com/reporting/2db6170e-9309-41c1-b9b9-04f5ed5173a8)).
 - **Processamento**:
  - Kaggle Notebook ([link](https://www.kaggle.com/carloseschholz/covid-da)). 
 - **Fontes**: 
  - Casos pela universidade John Hopkins ([link](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports));
  - Vacinação pela universidade de Oxford ([link](https://covid.ourworldindata.org/data/owid-covid-data.csv)).

# **COVID Dashboard**

## 1\. Contexto

   A COVID-19 é uma infecção respiratória aguda causada pelo coronavírus SARS-CoV-2, potencialmente grave, de elevada transmissibilidade e de distribuição global. Fonte: Governo brasileiro ([link](https://www.gov.br/saude/pt-br/coronavirus/o-que-e-o-coronavirus)).
   A disponibilidade de dados sobre a evolução da pandemia no tempo em uma determinada região geográfica é fundamental para o seu combate! Este projeto busca construir um dashboard de dados para exploração e visualização interativa de dados sobre o avanço de casos e da vacinação do Brasil.

## 2\. Pacotes e bibliotecas

In [1]:
import math
from typing import Iterator
from datetime import datetime, timedelta

import numpy as np
import pandas as pd

## 3\. Extração

In [2]:
# Vamos processar os dados de casos da universidade John Hopkins.

# O dado está compilado em um arquivo por dia, exemplo para 2021/12/01.

cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-12-2021.csv'
                    , sep=',')

cases.head()

   FIPS Admin2 Province_State  ... Combined_Key Incident_Rate  Case_Fatality_Ratio
0   NaN    NaN            NaN  ...  Afghanistan    137.647787             4.294192
1   NaN    NaN            NaN  ...      Albania   2245.708527             1.937271
2   NaN    NaN            NaN  ...      Algeria    234.067409             2.743543
3   NaN    NaN            NaN  ...      Andorra  11236.653077             0.990555
4   NaN    NaN            NaN  ...       Angola     55.811022             2.300605

[5 rows x 14 columns]

In [3]:
# Portanto, precisaremos iterar dentro de um intervalo de tempo definido para extraí-lo.

def date_range(start_date: datetime, end_date: datetime) -> Iterator[datetime]:
  date_range_days: int = (end_date - start_date).days
  for lag in range(date_range_days):
    yield start_date + timedelta(lag)
    
start_date = datetime(2021,  1,  1)
end_date   = datetime(2021, 12, 31)

In [4]:
# De maneira iterativa, vamos selecionar as colunas de interesse e as linhas referentes ao Brasil.

cases = None
cases_is_empty = True

for date in date_range(start_date=start_date, end_date=end_date):

  date_str = date.strftime('%m-%d-%Y')
  data_source_url = f'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{date_str}.csv'

  case = pd.read_csv(data_source_url, sep=',')

  case = case.drop(['FIPS', 'Admin2', 'Last_Update', 'Lat', 'Long_', 'Recovered', 'Active', 'Combined_Key', 'Case_Fatality_Ratio'],
                   axis=1)
  case = case.query('Country_Region == "Brazil"').reset_index(drop=True)
  case['Date'] = pd.to_datetime(date.strftime('%Y-%m-%d'))

  if cases_is_empty:
    cases = case
    cases_is_empty = False
  else:
    cases = cases.append(case, ignore_index=True)
    
cases.query('Province_State == "Sao Paulo"').head()

    Province_State Country_Region  Confirmed  Deaths  Incident_Rate       Date
24       Sao Paulo         Brazil    1466191   46775    3192.990778 2021-01-01
51       Sao Paulo         Brazil    1467953   46808    3196.827966 2021-01-02
78       Sao Paulo         Brazil    1471422   46845    3204.382565 2021-01-03
105      Sao Paulo         Brazil    1473670   46888    3209.278136 2021-01-04
132      Sao Paulo         Brazil    1486551   47222    3237.329676 2021-01-05

In [5]:
# Agora vamos processar os dados de vacinação da universidade de Oxford.

vaccines = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv', sep=',',
                       parse_dates=[3], infer_datetime_format=True)

vaccines.head()

  iso_code continent  ... excess_mortality excess_mortality_cumulative_per_million
0      AFG      Asia  ...              NaN                                     NaN
1      AFG      Asia  ...              NaN                                     NaN
2      AFG      Asia  ...              NaN                                     NaN
3      AFG      Asia  ...              NaN                                     NaN
4      AFG      Asia  ...              NaN                                     NaN

[5 rows x 67 columns]

In [6]:
# Vamos selecionar as colunas de interesse e as linhas referentes ao Brasil.

vaccines = vaccines.query('location == "Brazil"').reset_index(drop=True)
vaccines = vaccines[['location', 'population', 'total_vaccinations', 'people_vaccinated',
                     'people_fully_vaccinated', 'total_boosters', 'date']]

vaccines.tail()

    location   population  ...  total_boosters       date
724   Brazil  213993441.0  ...      60474794.0 2022-02-19
725   Brazil  213993441.0  ...      60718386.0 2022-02-20
726   Brazil  213993441.0  ...      61279432.0 2022-02-21
727   Brazil  213993441.0  ...      61867668.0 2022-02-22
728   Brazil  213993441.0  ...      62367146.0 2022-02-23

[5 rows x 7 columns]

## 4\. Transformação

In [7]:
# Vamos manipular os dados da universidade John Hopkins para o dashboard. 
#O foco é em garantir uma boa granularidade e qualidade da base de dados.

cases.head()

  Province_State Country_Region  Confirmed  Deaths  Incident_Rate       Date
0           Acre         Brazil      41689     796    4726.992352 2021-01-01
1        Alagoas         Brazil     105091    2496    3148.928928 2021-01-01
2          Amapa         Brazil      68361     926    8083.066602 2021-01-01
3       Amazonas         Brazil     201574    5295    4863.536793 2021-01-01
4          Bahia         Brazil     494684    9159    3326.039611 2021-01-01

In [8]:
cases.shape

(9828, 6)

In [9]:
cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9828 entries, 0 to 9827
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province_State  9828 non-null   object
 1   Country_Region  9828 non-null   object
 2   Confirmed       9828 non-null   int64
 3   Deaths          9828 non-null   int64
 4   Incident_Rate   9828 non-null   float64
 5   Date            9828 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 460.8+ KB

In [10]:
# Começamos com o nome das colunas.

cases = cases.rename(
  columns={
    'Province_State': 'state',
    'Country_Region': 'country'
  }
)

for col in cases.columns:
  cases = cases.rename(columns={col: col.lower()})

In [11]:
# Ajustamos o nome dos estados.

states_map = {
    'Amapa': 'Amapá',
    'Ceara': 'Ceará',
    'Espirito Santo': 'Espírito Santo',
    'Goias': 'Goiás',
    'Para': 'Pará',
    'Paraiba': 'Paraíba',
    'Parana': 'Paraná',
    'Piaui': 'Piauí',
    'Rondonia': 'Rondônia',
    'Sao Paulo': 'São Paulo'
}

cases['state'] = cases['state'].apply(lambda state: states_map.get(state) if state in states_map.keys() else state)

In [12]:
# Vamos então computar novas colunas para enriquecer a base de dados.

#Chaves temporais:

cases['month'] = cases['date'].apply(lambda date: date.strftime('%Y-%m'))
cases['year']  = cases['date'].apply(lambda date: date.strftime('%Y'))

# População estimada do estado:

cases['population'] = round(100000 * (cases['confirmed'] / cases['incident_rate']))
cases = cases.drop('incident_rate', axis=1)

# Número, média móvel (7 dias) e estabilidade (14 dias) de casos e mortes por estado:

cases_ = None
cases_is_empty = True

def get_trend(rate: float) -> str:

  if np.isnan(rate):
    return np.NaN

  if rate < 0.75:
    status = 'downward'
  elif rate > 1.15:
    status = 'upward'
  else:
    status = 'stable'

  return status
  

for state in cases['state'].drop_duplicates():

  cases_per_state = cases.query(f'state == "{state}"').reset_index(drop=True)
  cases_per_state = cases_per_state.sort_values(by=['date'])

  cases_per_state['confirmed_1d'] = cases_per_state['confirmed'].diff(periods=1)
  cases_per_state['confirmed_moving_avg_7d'] = np.ceil(cases_per_state['confirmed_1d'].rolling(window=7).mean())
  cases_per_state['confirmed_moving_avg_7d_rate_14d'] = cases_per_state['confirmed_moving_avg_7d']/cases_per_state['confirmed_moving_avg_7d'].shift(periods=14)
  cases_per_state['confirmed_trend'] = cases_per_state['confirmed_moving_avg_7d_rate_14d'].apply(get_trend)

  cases_per_state['deaths_1d'] = cases_per_state['deaths'].diff(periods=1)
  cases_per_state['deaths_moving_avg_7d'] = np.ceil(cases_per_state['deaths_1d'].rolling(window=7).mean())
  cases_per_state['deaths_moving_avg_7d_rate_14d'] = cases_per_state['deaths_moving_avg_7d']/cases_per_state['deaths_moving_avg_7d'].shift(periods=14)
  cases_per_state['deaths_trend'] = cases_per_state['deaths_moving_avg_7d_rate_14d'].apply(get_trend)

  if cases_is_empty:
    cases_ = cases_per_state
    cases_is_empty = False
  else:
    cases_ = cases_.append(cases_per_state, ignore_index=True)

cases = cases_
cases_ = None

In [13]:
#Garantir o tipo do dado é fundamental para consistência da base de dados. Vamos fazer o type casting das colunas.

cases['population'] = cases['population'].astype('Int64')
cases['confirmed_1d'] = cases['confirmed_1d'].astype('Int64')
cases['confirmed_moving_avg_7d'] = cases['confirmed_moving_avg_7d'].astype('Int64')
cases['deaths_1d'] = cases['deaths_1d'].astype('Int64')
cases['deaths_moving_avg_7d'] = cases['deaths_moving_avg_7d'].astype('Int64')

In [14]:
# Por fim, vamos reorganizar as colunas e conferir o resultado final.

cases = cases[['date', 'country', 'state', 'population', 'confirmed',
               'confirmed_1d', 'confirmed_moving_avg_7d', 'confirmed_moving_avg_7d_rate_14d', 'confirmed_trend',
               'deaths', 'deaths_1d', 'deaths_moving_avg_7d', 'deaths_moving_avg_7d_rate_14d', 'deaths_trend', 
               'month', 'year']]

cases.head(n=25)

         date country state  ...  deaths_trend    month  year
0  2021-01-01  Brazil  Acre  ...           NaN  2021-01  2021
1  2021-01-02  Brazil  Acre  ...           NaN  2021-01  2021
2  2021-01-03  Brazil  Acre  ...           NaN  2021-01  2021
3  2021-01-04  Brazil  Acre  ...           NaN  2021-01  2021
4  2021-01-05  Brazil  Acre  ...           NaN  2021-01  2021
5  2021-01-06  Brazil  Acre  ...           NaN  2021-01  2021
6  2021-01-07  Brazil  Acre  ...           NaN  2021-01  2021
7  2021-01-08  Brazil  Acre  ...           NaN  2021-01  2021
8  2021-01-09  Brazil  Acre  ...           NaN  2021-01  2021
9  2021-01-10  Brazil  Acre  ...           NaN  2021-01  2021
10 2021-01-11  Brazil  Acre  ...           NaN  2021-01  2021
11 2021-01-12  Brazil  Acre  ...           NaN  2021-01  2021
12 2021-01-13  Brazil  Acre  ...           NaN  2021-01  2021
13 2021-01-14  Brazil  Acre  ...           NaN  2021-01  2021
14 2021-01-15  Brazil  Acre  ...           NaN  2021-01  2021
15 2021-01-16  Brazil  Acre  ...           NaN  2021-01  2021
16 2021-01-17  Brazil  Acre  ...           NaN  2021-01  2021
17 2021-01-18  Brazil  Acre  ...           NaN  2021-01  2021
18 2021-01-19  Brazil  Acre  ...           NaN  2021-01  2021
19 2021-01-20  Brazil  Acre  ...           NaN  2021-01  2021
20 2021-01-21  Brazil  Acre  ...           NaN  2021-01  2021
21 2021-01-22  Brazil  Acre  ...      downward  2021-01  2021
22 2021-01-23  Brazil  Acre  ...      downward  2021-01  2021
23 2021-01-24  Brazil  Acre  ...      downward  2021-01  2021
24 2021-01-25  Brazil  Acre  ...        stable  2021-01  2021

[25 rows x 16 columns]

In [15]:
# Vamos manipular os dados  da  da universidade de Oxford para o dashboard.
# O foco é em garantir uma boa granularidade e qualidade da base de dados.

vaccines.head()

  location   population  ...  total_boosters       date
0   Brazil  213993441.0  ...             NaN 2020-02-26
1   Brazil  213993441.0  ...             NaN 2020-02-27
2   Brazil  213993441.0  ...             NaN 2020-02-28
3   Brazil  213993441.0  ...             NaN 2020-02-29
4   Brazil  213993441.0  ...             NaN 2020-03-01

[5 rows x 7 columns]

In [16]:
vaccines.shape

(729, 7)

In [17]:
vaccines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 729 entries, 0 to 728
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   location                 729 non-null    object
 1   population               729 non-null    float64
 2   total_vaccinations       397 non-null    float64
 3   people_vaccinated        393 non-null    float64
 4   people_fully_vaccinated  377 non-null    float64
 5   total_boosters           169 non-null    float64
 6   date                     729 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 40.0+ KB

In [18]:
# Vamos começar tratando os dados faltantes, a estratégia será a de preencher os buracos com o valor anterior válido mais próximo.

vaccines = vaccines.fillna(method='ffill')

In [19]:
# Vamos também filtrar a base de dados de acordo com a coluna date para garantir que ambas as bases de dados tratam do mesmo período de tempo.

vaccines = vaccines[(vaccines['date'] >= '2021-01-01') & (vaccines['date'] <= '2021-12-31')].reset_index(drop=True)

In [20]:
# Agora, vamos alterar o nome das colunas.

vaccines = vaccines.rename(
  columns={
    'location': 'country',
    'total_vaccinations': 'total',
    'people_vaccinated': 'one_shot',
    'people_fully_vaccinated': 'two_shots',
    'total_boosters': 'three_shots',
  }
)

In [21]:
# Vamos então computar novas colunas para enriquecer a base de dados.

# Chaves temporais:

vaccines['month'] = vaccines['date'].apply(lambda date: date.strftime('%Y-%m'))
vaccines['year']  = vaccines['date'].apply(lambda date: date.strftime('%Y'))

# Dados relativos:

vaccines['one_shot_perc'] = round(vaccines['one_shot'] / vaccines['population'], 4)
vaccines['two_shots_perc'] = round(vaccines['two_shots'] / vaccines['population'], 4)
vaccines['three_shots_perc'] = round(vaccines['three_shots'] / vaccines['population'], 4)

In [22]:
# Garantir o tipo do dado é fundamental para consistência da base de dados. Vamos fazer o type casting das colunas.

vaccines['population'] = vaccines['population'].astype('Int64')
vaccines['total'] = vaccines['total'].astype('Int64')
vaccines['one_shot'] = vaccines['one_shot'].astype('Int64')
vaccines['two_shots'] = vaccines['two_shots'].astype('Int64')
vaccines['three_shots'] = vaccines['three_shots'].astype('Int64')

In [23]:
# Por fim, vamos reorganizar as colunas e conferir o resultado final.

vaccines = vaccines[['date', 'country', 'population', 'total', 'one_shot', 'one_shot_perc',
                     'two_shots', 'two_shots_perc', 'three_shots', 'three_shots_perc', 'month', 'year']]

vaccines.tail()

          date country  population  ...  three_shots_perc    month  year
360 2021-12-27  Brazil   213993441  ...            0.1178  2021-12  2021
361 2021-12-28  Brazil   213993441  ...            0.1204  2021-12  2021
362 2021-12-29  Brazil   213993441  ...            0.1225  2021-12  2021
363 2021-12-30  Brazil   213993441  ...            0.1239  2021-12  2021
364 2021-12-31  Brazil   213993441  ...            0.1242  2021-12  2021

[5 rows x 12 columns]

## 5\. Carregamento

In [24]:
cases.to_csv('./covid-cases.csv', sep=',', index=False)

vaccines.to_csv('./covid-vaccines.csv', sep=',', index=False)